streamlit==1.51.0
pandas==2.3.3
sqlalchemy==2.0.44
psycopg2-binary==2.9.11
python-dotenv==1.2.1
plotly==6.4.0
openpyxl==3.1.5
XlsxWriter==3.2.0
streamlit-authenticator==0.4.1
bcrypt==4.2.1
PyJWT==2.9.0
